 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>It’s true, I have a habit and I can’t break it. I design, draw and tell stories through pictures. Ever since I can remember, I owned a sketchbook, sharpener and drawing pencils. When I was young, my parents built our house, pouring the foundation, erecting walls and installing windows around me. I sat at the table drawing faces, monsters, animals, and scenes from movies.</p>

                    <p>My work is instantly recognizable, personal, original, and professional. The pieces I create may include the following: custom typography, stylized illustration, hand drawn brush and ink strokes, comic strips, dynamic color schemes, and catchy concepts provided in any medium you or your company may desire.</p>
                <p>You can hire me to create any of the following: promotional materials, advertising campaigns, educational material, web design, business brochures, logos, story boards, posters, textile graphics, commissions, banners, billboards, album and book covers. From the start of a project to the finish, I am committed, efficient, flexible, independent, and confident in translating your vision into a reality. You will be pleased with my work ethic, friendly approach and artistic experience.</p>
            </div>
        </div></div>
    </section>