<section class="section--books">
    <h2 style="margin:10px 0 0 0; text-align: center;">Quick Facts Books</h2>
    <main class="flex--books">


        <p style="margin:10px auto; padding:0 2em;">
            Discover 'Quick Fact Books,' a treasure trove of lesser-known facts about Montana, Glacier Park, and Yellowstone Park. Packed with quirky one-sentence tidbits and delightful illustrations, these books guarantee family enjoyment. Click below to buy wholesale and start selling Quick Fact Books or by a bunch for family and friends. Thanks!
        </p>
        <form action="https://www.quickfactsbooks.com" target="_blank">
        <button style="margin:10px auto -10px auto; text-align:center; display:block; font-size:1.2em; ">Get Some Books!</button></form>
<div class="grid--book">

        <!-- <iframe width="100%" height="auto" src="https://www.youtube.com/embed/ov5ma-F3lWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <img width="100%" src="../img/Glacier_coverHighRes.jpg" alt="Glacier Quick Facts by Josh Quick"/>
        <img width="100%" src="../img/montanaBook.jpg" alt="Yellowstone Quick Facts by Josh Quick"/>
    <img src="../img/yellowBook.jpg" alt="Yellowstone Quick Facts by Josh Quick" width="100%" />
        <!-- <div>
        <iframe  width="100%"  height="auto" src="https://www.youtube.com/embed/K0Tp0fcHk7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img width="100%" src="../img/montanaBook.jpg" alt="Yellowstone Quick Facts by Josh Quick"/>
    </div>
        <div>
            <h4>Montana Quick Facts</h4>
            <p>
                ‘Montana Quick Facts’ is a complete 112 page collection of original illustrations telling strange but true stories about Montana. It’s a book filled with fanciful one-sentence facts paired with drawings that will surprise and delight readers of all ages. ISBN# <strong>9781087889085</strong>
            </p>
            <a href="https://www.amazon.com/dp/1087816033/ref=cm_sw_em_r_mt_dp_F4V1C7A5G3NZQPRHK707">Buy <strong>Montana Quick Facts</strong>. </a>
        </div>
    </div>
    <div class="grid--book">
        <div>
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/ov5ma-F3lWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="../img/yellowBook.jpg" alt="Montana Quick Facts by Josh Quick" width="100%" />
    </div>
        <div>
            <h4>Yellowstone Quick Facts</h4>
            <p>
                'Yellowstone Quick Facts' is a treasury of lesser-known facts about the first national park in the U.S.. It's a book filled with unique one sentence tidbits about Yellowstone combined with whimsical illustrations that the whole family can enjoy. ISBN# <strong>9781087816036</strong>
            </p>
            <a href="https://www.amazon.com/dp/1087889081/ref=cm_sw_em_r_mt_dp_KD0GX7P2NJWFFNZYPPYR">Buy <strong>Yellowstone Quick Facts</strong>.</a>
        </div> -->
    </div>
</main>
</section>