<section class="section--books">
<h2 style="margin:0 0 0 0">Books</h2>
<main class="flex--books">
    
    <div class="grid--book">
        <div>
        <iframe width="100%"  height="auto" src="https://www.youtube.com/embed/K0Tp0fcHk7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img width="100%" src="../img/montanaBook.jpg" alt="Yellowstone Quick Facts by Josh Quick"/>
    </div>
        <div>
            <h4>Montana Quick Facts</h4>
            <p>
                ‘Montana Quick Facts’ is a complete 112 page collection of original illustrations telling strange but true stories about Montana. It’s a book filled with fanciful one-sentence facts paired with drawings that will surprise and delight readers of all ages.
            </p>
            <a href="https://www.factandfictionbooks.com/book/9781087816036">Buy <strong>Montana Quick Facts</strong></a>
        </div>
    </div>
    <div class="grid--book">
        <div>
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/ov5ma-F3lWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="../img/yellowBook.jpg" alt="Montana Quick Facts by Josh Quick" width="100%" />
    </div>
        <div>
            <h4>Yellowstone Quick Facts</h4>
            <p>
                'Yellowstone Quick Facts' is a treasury of lesser-known facts about the first national park in the U.S.. It's a book filled with unique one sentence tidbits about Yellowstone combined with whimsical illustrations that the whole family can enjoy.
            </p>
            <a href="https://www.kobo.com/us/en/ebook/yellowstone-quick-facts">Buy <strong>Yellowstone Quick Facts</strong></a>
        </div>
    </div>
</main>
</section>