    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="heroImage"></span>
                    <div class="intro-text">
                        <span class="name">Josh Quick</span>
                        <span class="skills">Illustrator / Developer / Animator</span>
                        <div class="iconContainer">
                          <a target="_blank" href="https://www.linkedin.com/in/josh-quick-763a159/">  <img class="portfolioIcons" src="img/portfolio/LinkedInLogo.svg" alt="" style="width:30px; height:auto;"/></a>
                            <a target="_blank" href="https://dribbble.com/quickjosh">  <img class="portfolioIcons" src="img/portfolio/dribbble-ball.svg" alt="" style="width:40px; height:auto;"/></a>
                                <a target="_blank" href="https://github.com/quickjosh"><img class="portfolioIcons" src="img/portfolio/github.svg" alt="" style="width:35px; height:auto;"/></a>
                                    <a target="_blank" href="https://www.instagram.com/quickjoshua/"><img class="portfolioIcons" src="img/portfolio/instagram.svg" alt="" style="width:30px; height:auto;"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <!--<div class="intro-text">-->
                        <!--<span class="name">{{ site.title }}</span>-->
                        <!--<hr class="star-light">-->
                        <!--<span class="skills">{{ site.skills }}</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </header>