    <!-- Header -->
    <header>
            <div class="buy-my-book-container container">
                <a class="book-purchase-link" href="https://www.amazon.com/dp/1080630929?ref_=pe_3052080_397514860" target="_blank"><i class="fa fa-book"></i>  Buy my Book: "<i>Montana Quick Facts"</i></a>
            <span class="book-purchase-link-triangle"></span>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="heroImage"></span>
                    <div class="intro-text">
                        <span class="name">Josh Quick</span>
                        <span class="skills">Illustrator / Front-End Dev / Animator</span>
                        <div class="iconContainer">
                          <a target="_blank" href="https://www.linkedin.com/in/josh-quick-763a159/">  <img class="portfolioIcons" src="img/portfolio/LinkedInLogo.svg" alt="Josh Quick LinkedIn Profile" style="width:30px; height:auto;"/></a>
                            <a target="_blank" href="https://dribbble.com/quickjosh">  <img class="portfolioIcons" src="img/portfolio/dribbble-ball.svg" alt="Josh Quick Dribble Profile" style="width:40px; height:auto;"/></a>
                                <a target="_blank" href="https://github.com/quickjosh"><img class="portfolioIcons" src="img/portfolio/github.svg" alt="Josh Quick GitHub Profile" style="width:35px; height:auto;"/></a>                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <!--<div class="intro-text">-->
                        <!--<span class="name">{{ site.title }}</span>-->
                        <!--<hr class="star-light">-->
                        <!--<span class="skills">{{ site.skills }}</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </header>