    <!-- Header -->
    <header>
        
            
                    <div class="intro-text">
                        <h2>Josh Quick</h2>
                        <span class="skills">Illustrator / Front-End Dev / Author</span>
                        <div class="iconContainer">
                          <a target="_blank" href="https://www.linkedin.com/in/josh-quick-763a159/">  <img class="portfolioIcons" src="img/portfolio/LinkedInLogo.svg" alt="Josh Quick LinkedIn Profile" style="width:30px; height:auto;"/></a>
                            <a target="_blank" href="https://dribbble.com/quickjosh">  <img class="portfolioIcons" src="img/portfolio/dribbble-ball.svg" alt="Josh Quick Dribble Profile" style="width:40px; height:auto;"/></a>
                                <a target="_blank" href="https://github.com/quickjosh"><img class="portfolioIcons" src="img/portfolio/github.svg" alt="Josh Quick GitHub Profile" style="width:35px; height:auto;"/></a>                        </div>
                    
            
        </div>
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <!--<div class="intro-text">-->
                        <!--<span class="name">{{ site.title }}</span>-->
                        <!--<hr class="star-light">-->
                        <!--<span class="skills">{{ site.skills }}</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </header>